<?xml version="1.0"?>
<config>
    <modules>
        <Ag_GroupPrice>
            <version>0.1.0</version>
        </Ag_GroupPrice>
    </modules>
    <global>
        <helpers>
            <groupprice>
                <class>Ag_GroupPrice_Helper</class>
            </groupprice>
        </helpers>
        <blocks>
            <groupprice>
                <class>Ag_GroupPrice_Block</class>
            </groupprice>
        </blocks>
        <models>
            <groupprice>
                <class>Ag_GroupPrice_Model</class>
            </groupprice>
        </models>
    </global>
    <admin>
        <routers>
            <groupprice>
                <use>admin</use>
                <args>
                    <module>Ag_GroupPrice</module>
                    <frontName>admin_groupprice</frontName>
                </args>
            </groupprice>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <groupprice module="groupprice">
                <title>GroupPrice</title>
                <sort_order>100</sort_order>
                <children>
                    <grouppricebackend module="groupprice">
                        <title>Add Group Price to Products</title>
                        <sort_order>0</sort_order>
                        <action>admin_groupprice/adminhtml_grouppricebackend</action>
                    </grouppricebackend>
                    <grouppriceconfig module="groupprice">
                        <title>Configuration</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/system_config/edit/section/groupprice/</action>
                    </grouppriceconfig>
                </children>
            </groupprice>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <groupprice translate="title" module="groupprice">
                            <title>GroupPrice</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <grouppricebackend translate="title">
                                    <title>Backend Page Title</title>
                                </grouppricebackend>
                            </children>
                        </groupprice>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <ag_groupprice_addbutton>
                <observers>
                    <groupprice>
                        <type>singleton</type>
                        <class>Ag_GroupPrice_Model_Grid_Observer</class>
                        <method>addButton</method>
                    </groupprice>
                </observers>
            </ag_groupprice_addbutton>
        </events>
    </adminhtml>
</config>