<?xml version="1.0"?>
<config>
    <tabs>
        <groupprice translate="label" module="groupprice">
            <label>Group Price</label>
            <sort_order>0</sort_order>
        </groupprice>
    </tabs>
    <sections>
        <groupprice translate="label" module="groupprice">
            <label>Group Price</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </groupprice>
    </sections>
    <sections>
        <groupprice translate="label" module="groupprice">
            <label>Set discount for customer group</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <customergroup translate="label" module="groupprice">
                    <label>Set discount for customer group</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>groupprice/adminhtml_system_config_form_fieldset_customer_groups</frontend_model>                    
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </customergroup>
                <customergroup translate="label" module="groupprice">
                    <label>Set discount for customer group</label>
                    <frontend_type>textarea</frontend_type>
                    <frontend_model>groupprice/adminhtml_system_config_form_fieldset_customer_groups</frontend_model>                    
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </customergroup>
            </groups>
        </groupprice>
    </sections>
</config>
